/*Seletor universal
*{
    border: 1px solid red;
}
*/
/*Seletor de texto
h1{
    color: green;
}
*/

/*Seletor de classe
.verde{
    color: green;
}

p.verde{
    color: green;
}
*/

/*Seletor de ID
#cabecalho{
    border: 1px solid blue;
}
*/

/*Seletor de filho
Neste caso: Links que são filhos diretos de li recebem as formatações
li>a{
    color: red;
    text-decoration: none;
}
*/
/*Seletor de descendente
div a{
    color: green;
}
*/
/*Seletor de irmão adjacente
Neste caso: Formata o primeiro "p" que estiver logo após um "h1",
se tiver algo entre eles, por ex uma div, não funciona mais a formatação porque
eles não são mais "irmãos" 
h1+p{
    color: red;
}
*/
/*Seletor de irmão geral
h1~p{
    color: pink;
}
*/

