body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#home #navegacao #atual{
    color: white;
    background: black;    
}

#container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
}

#marca {
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}

#conteudo {
    width: 520px;
    float: right;
}

#conteudo_principal {
    width: 320px;
    float: left;
}

#conteudo_secundario {
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#conteudo_secundario h1,
#conteudo_secundario h2,
#conteudo_secundario h3,
#conteudo_secundario p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul{
    padding: 0px;
    margin: 0px;
    list-style: none;    
}

#navegacao li{
    padding-left: 10px;
    padding-right: 10px;
}

#navegacao li a:link, a:visited {
    color: black;
    background: white;
    display: block;
    height: 35px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}

#navegacao li a:hover{
    color: white;
    background: black;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}